body{
    width: 100vw;
    height: 100vh;
    background: rgb(17, 15, 15);
    color: white;
}

.main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}